<!DOCTYPE html>
<html>
<head>
  <title>Gym Locator Search</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .modal-dialog {
      max-width: 900px;
    }
    #equipmentList, #prefectureList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #equipmentList .form-check, #prefectureList .form-check {
      width: 30%;
      list-style: none;
    }
  </style>
</head>
<body>
  <h1>Gym_Locator</h1>

  <!-- 検索フォーム -->
  <div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectionModal">
      器具と都道府県から選ぶ
    </button>
  </div>

  <!-- 器具と都道府県選択のモーダル -->
  <div class="modal fade" id="selectionModal" tabindex="-1" role="dialog" aria-labelledby="selectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="selectionModalLabel">器具と都道府県一覧</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="selection-form" action="/map" method="get">
            <div class="form-group">
              <h6>器具を選択:</h6>
              <div id="equipmentList">
                <% @equipments.each do |equipment| %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="equipments[]" value="<%= equipment.equipment_name %>" id="equipment_<%= equipment.equipment_name %>">
                    <label class="form-check-label" for="equipment_<%= equipment.equipment_name %>">
                      <%= equipment.equipment_name %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <h6>都道府県を選択:</h6>
              <div id="prefectureList">
                <% @prefectures.each do |prefecture| %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="prefectures[]" value="<%= prefecture %>" id="prefecture_<%= prefecture %>">
                    <label class="form-check-label" for="prefecture_<%= prefecture %>">
                      <%= prefecture %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <button type="submit" form="selection-form" class="btn btn-primary">検索</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>