<!DOCTYPE html>
<html>
<head>
  <title>Gym Locator Map</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Maps APIを非同期で読み込む -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2ghhF-QX1JbH36JdhWghvjMXRhigddZA&callback=initMap"></script>

  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    #map {
      height: 80vh; /* ビューポートの80%の高さ */
      width: 75%;
      float: right;
    }
    #sidebar {
      height: 80vh; /* ビューポートの80%の高さ */
      width: 25%;
      float: left;
      overflow-y: scroll;
      padding-right: 20px;
      padding-left: 10px; /* サイドバー内の要素を少し右に寄せる */
    }
    #gym-list {
      list-style-type: none;
      padding: 0;
    }
    #gym-list li {
      margin-bottom: 10px;
      border: 2px solid black;
      padding: 10px;
    }
    .gym-name {
      font-size: 1.2em; /* 店舗名のフォントサイズを大きく */
    }
    .gym-address {
      font-size: 0.8em; /* 住所のフォントサイズを小さく */
    }
  </style>
</head>
<body>
  <!-- ナビゲーションバーを追加 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gym Locator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'トップページに戻る', root_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>

  <h1 class="text-center">ジムの場所</h1>
  
  <div id="sidebar">
    <h2>ジムリスト</h2>
    <ul id="gym-list" class="list-group"></ul>
    <% if @gyms.empty? %>
      <p>一致する店舗はありません。</p>
    <% end %>
    <div class="form-group mt-3">
      <label for="search-mode">検索モード:</label><br>
      <input type="radio" id="match-any" name="search_mode" value="any" <%= 'checked' if params[:search_mode] == 'any' %>>
      <label for="match-any">一部一致</label><br>
      <input type="radio" id="match-all" name="search_mode" value="all" <%= 'checked' if params[:search_mode] == 'all' %>>
      <label for="match-all">全て一致</label><br>
      <button type="button" id="change-search-mode" class="btn btn-primary mt-2">検索モードを変更</button>
    </div>
  </div>
  
  <div id="map"></div>

  <script>
    function initMap() {
      var gyms = <%= raw @gyms.to_json %>;

      if (gyms.length > 0) {
        // 最初のジムの位置を中心に設定
        var initialLatLng = { lat: gyms[0].latitude, lng: gyms[0].longitude };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: initialLatLng
        });

        var infowindow = new google.maps.InfoWindow();

        gyms.forEach(function(gym) {
          var marker = new google.maps.Marker({
            position: { lat: gym.latitude, lng: gym.longitude },
            map: map,
            title: gym.gym_name,
            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
          });

          marker.addListener('mouseover', function() {
            infowindow.setContent('<div><strong>' + gym.gym_name + '</strong><br>' + gym.address + '</div>');
            infowindow.open(map, marker);
          });

          marker.addListener('mouseout', function() {
            infowindow.close();
          });

          var listItem = document.createElement('li');
          listItem.className = 'list-group-item';

          var gymNameDiv = document.createElement('div');
          gymNameDiv.className = 'gym-name';
          gymNameDiv.textContent = gym.gym_name;

          var gymAddressDiv = document.createElement('div');
          gymAddressDiv.className = 'gym-address';
          gymAddressDiv.textContent = gym.address;

          listItem.appendChild(gymNameDiv);
          listItem.appendChild(gymAddressDiv);

          listItem.addEventListener('click', function() {
            map.setCenter(marker.getPosition());
            infowindow.setContent('<div><strong>' + gym.gym_name + '</strong><br>' + gym.address + '</div>');
            infowindow.open(map, marker);
          });

          document.getElementById('gym-list').appendChild(listItem);
        });
      } else {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: { lat: 35.6895, lng: 139.6917 } // デフォルトは東京
        });
      }
    }

    document.getElementById('change-search-mode').addEventListener('click', function() {
      var searchMode = document.querySelector('input[name="search_mode"]:checked').value;
      var equipments = "<%= params[:equipments].is_a?(Array) ? params[:equipments].join(',') : params[:equipments] %>";
      var prefectures = "<%= params[:prefectures].is_a?(Array) ? params[:prefectures].join(',') : params[:prefectures] %>";
      
      var url = new URL(window.location.href);
      url.searchParams.set('search_mode', searchMode);
      url.searchParams.set('equipments', equipments);
      url.searchParams.set('prefectures', prefectures);
      
      window.location.href = url.toString();
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>