<!DOCTYPE html>
<html>
<head>
  <title>Gym Locator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- ヘッダー -->
  <nav class="navbar navbar-expand-lg navbar-light bg-custom">
    <div class="container-fluid">
      <%= link_to image_tag('Gym_Locator_Logo.png', alt: 'Gym Locator Logo', size: '50x50'), root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Gym Locatorとは？', about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ジム活', gym_activity_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マガジン', magazine_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>